/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button{
  display: inline-block;
  border: solid 1px;
  padding: 3px;
  border-radius: 5%;
}


/* header */
header nav{
  background-color: #13135e;
  color: white;
}

header nav a{
  text-decoration: none;
  color: white;
}

nav li {
  display: inline-block;
  margin-right: 5%;
  line-height: 55px;
}

/* sezione header */
header section{
  color: #fff;
  text-align: center;
  background-color: #0dcaca;
}

header section span{
  display: inline-block;
  height: 1px;
  width: 70px;
  border-bottom: solid 4px;
  padding-top: 10px;
}

header section i{
  height: 20px;
}

/* MAIN */

main{
  text-align: center;
}

main section span{
  display: inline-block;
  height: 1px;
  width: 70px;
  border-bottom: solid 4px;
  padding-top: 10px;
}

main section i{
  height: 20px;
}

#tabella-portfolio [class*="col-"]{
  background-color: orange;
  height: 40px;
  border: solid 1px ;
}

#sezione-about{
  background-color:  #0dcaca;
  text-align: center;
  color: white;
  margin-top: 20px;
  padding-bottom: 20px;
}

#sezione-about .col-xs-12{
  margin-bottom: 15px;
}

main .button a{
  color: #fff;
}
