/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button{
  display: inline-block;
  border: solid 1px;
  padding: 10px;
  border-radius: 5%;
}

/* header */
header nav{
  background-color: #13135e;
  color: white;
}

header nav a{
  text-decoration: none;
  color: white;
}

nav li {
  display: inline-block;
  margin-right: 5%;
  line-height: 55px;
}

/* sezione header */
header section{
  color: #fff;
  text-align: center;
  background-color: #0dcaca;
}

header section span{
  display: inline-block;
  height: 1px;
  width: 70px;
  border-bottom: solid 4px;
  padding-top: 10px;
}

header section i{
  height: 20px;
}

/* MAIN */

/* prima sezione */
main{
  text-align: center;
}

main section span{
  display: inline-block;
  height: 1px;
  width: 70px;
  border-bottom: solid 4px;
  padding-top: 10px;
}

main section i{
  height: 20px;
}

.img-portfolio{
  width: 90%;
  height: 90%;
  margin: 5% 5%;
}

.img-portfolio img {
  max-width: 100%;
  border-radius: 10px;
}

/* seconda sezione */

#sezione-about{
  background-color:  #0dcaca;
  text-align: center;
  color: white;
  margin-top: 20px;
  padding-bottom: 20px;
}

#sezione-about p{
  margin-bottom: 15px;
}

main .button a{
  color: #fff;
}

/* terza sezione */
#contact-me{
  text-align: left;
  padding: 20px 0;
}

#contact-me .row{
  text-align: center;
}

#contact-me ul{
  list-style: none;
}

#contact-me .button{
  background-color: #0dcaca;
  border: 0;
}

/* footer */

footer{
  background-color: #1c5db1;
  text-align: center;
  color: #fff;
}

/* debug */
footer [class*="col-"]{
  background-color: orange;
  height: 150px;
  border: solid 1px ;
}

footer section{
  padding: 10px 0;
}

#sezione-copyright{
  background-color: #103768;
  height: 100px;
}

#sezione-copyright h5{
  line-height: 70px;
}
